{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped" style="text-align:left;">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for row in records %}
        <tr>
            {% for each in row %}
            <td>{{each}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">CASH</td><td>{{cash}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td><td>{{bigtotal}}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}